---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
</head>

<body>
    <div id="panorama" style="width: 800px; height: 600px;"></div>

    <script>
        pannellum.viewer('panorama', {
            "type": "equirectangular",
            "panorama": "../_talks/IMG_20250904_174621_00_114.jpg", // Replace with your image path
            "autoLoad": true,
            "autoRotate": -2 // Optional: auto-rotate slowly to the left
        });
    </script>
</body>

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
